## Import Libraries

In [2]:
# import libraries
import pandas as pd
from sqlalchemy import create_engine
import yfinance as yf

## Download Yfinance SPY data for FY 2022

In [3]:
df_spy = yf.download('SPY', start='2022-01-01', end='2022-12-31')
df_spy.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,476.299988,477.850006,473.850006,477.709991,468.296448,72668200
2022-01-04,479.220001,479.980011,475.579987,477.549988,468.139587,71178700
2022-01-05,477.160004,477.980011,468.279999,468.380005,459.150299,104538900
2022-01-06,467.890015,470.820007,465.429993,467.940002,458.718964,86858900
2022-01-07,467.950012,469.200012,464.649994,466.089996,456.905396,85111600

## Add Ticker Column

In [4]:
df_spy['ticker'] = 'SPY'
df_spy

,Open,High,Low,Close,Adj Close,Volume,ticker
Date,,,,,,,
2022-01-03,476.299988,477.850006,473.850006,477.709991,468.296448,72668200,SPY
2022-01-04,479.220001,479.980011,475.579987,477.549988,468.139587,71178700,SPY
2022-01-05,477.160004,477.980011,468.279999,468.380005,459.150299,104538900,SPY
2022-01-06,467.890015,470.820007,465.429993,467.940002,458.718964,86858900,SPY
2022-01-07,467.950012,469.200012,464.649994,466.089996,456.905396,85111600,SPY
...,...,...,...,...,...,...,...
2022-12-23,379.649994,383.059998,378.029999,382.910004,381.454193,59857300,SPY
2022-12-27,382.790009,383.149994,379.649994,381.399994,379.949921,51638200,SPY
2022-12-28,381.329987,383.390015,376.420013,376.660004,375.227936,70911500,SPY
2022-12-29,379.630005,384.350006,379.079987,383.440002,381.982178,66970900,SPY
2022-12-30,380.640015,382.579987,378.429993,382.429993,380.975983,84022200,SPY

## Rename Columns for Database Upload

In [5]:
df_spy = df_spy.rename(columns={'Date': 'datetime', 
                               'Open': 'p_open', 
                               'High': 'p_high',
                               'Low': 'p_low',
                               'Close': 'p_close',
                               'Adj Close': 'p_adjclose',
                               'Volume': 'p_volume'
                              })
df_spy

,p_open,p_high,p_low,p_close,p_adjclose,p_volume,ticker
Date,,,,,,,
2022-01-03,476.299988,477.850006,473.850006,477.709991,468.296448,72668200,SPY
2022-01-04,479.220001,479.980011,475.579987,477.549988,468.139587,71178700,SPY
2022-01-05,477.160004,477.980011,468.279999,468.380005,459.150299,104538900,SPY
2022-01-06,467.890015,470.820007,465.429993,467.940002,458.718964,86858900,SPY
2022-01-07,467.950012,469.200012,464.649994,466.089996,456.905396,85111600,SPY
...,...,...,...,...,...,...,...
2022-12-23,379.649994,383.059998,378.029999,382.910004,381.454193,59857300,SPY
2022-12-27,382.790009,383.149994,379.649994,381.399994,379.949921,51638200,SPY
2022-12-28,381.329987,383.390015,376.420013,376.660004,375.227936,70911500,SPY
2022-12-29,379.630005,384.350006,379.079987,383.440002,381.982178,66970900,SPY
2022-12-30,380.640015,382.579987,378.429993,382.429993,380.975983,84022200,SPY

## PostgreSQL Database Portion

In [ ]:
engine = create_engine('postgresql://postgres:password@localhost:5432/stocks_db')